:root {
    --cor00: rgb(45, 46, 64);
    --cor01: rgb(67, 73, 89);
    --cor02: rgb(76, 82, 100);
    --width: 1500px;
    --corboxnothover: black;
}

body {
    background-color: var(--cor00);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    height: calc(100vh - 54px);
    background-color: var(--cor00);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#my-container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#me {
    background: none;
    height: 400px;
    width: 400px;
    opacity: 85%;
    margin-top: auto;
}

#second-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1.25;
    width: 100%;
    background-color: var(--cor01);
}

#third-block {
    flex-grow: 1;
    width: 100%;
}

.text {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #cfcfcf;
    text-shadow: 1px 1px 1px;
    max-width: var(--width);
    width: 80vw;
}

.block-content {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-right: 30px;
    border: 3px solid var(--cor00);
    transition: opacity 0.5s ease;
    background-color: var(--cor02);
    padding: 15px;
}

.block-content:last-child {
    margin: 0;
}

.container-second-block {
    display: flex;
    flex-direction: row;
}

.container-second-block:hover .block-content:not(:hover) {
    opacity: 0.4;
}

.block-content:hover {
    border: 2px solid purple;
    box-shadow: 0px 0px 10px purple;
}

.block-content img {
    width: 80px;
    height: 80px;
}

.block-content h1 {
    font-size: 30px;
    margin-top: 10px;
}

.block-content p {
    font-size: 20px;
    margin-top: 10px;
}